/* .App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  height: 100vh;
}
.App form{
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3), -3px -3px 5px 0px rgba(0,0,0,0.1);
  border-radius: 25px;
}
.App form label{
  display: flex;
  width: 100%;
  justify-content: space-between;
  }
  
.listaProductos{
  height: 300px;
  font-size: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3), -3px -3px 5px 0px rgba(0,0,0,0.1);
}
.listaProductos .cajaFormu {
  Para Chrome, Safari y Opera 
  overflow-y: scroll;
  max-height: 200px;
  scrollbar-width: none;  Para Firefox 
  -ms-overflow-style: none;  Para Internet Explorer 10+ 
}

.listaProductos .cajaFormu::-webkit-scrollbar {
  display: none; /* Para versiones de WebKit como Safari y Chrome antiguos 
}


.listaProductos th , td{
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3), -3px -3px 5px 0px rgba(0,0,0,0.1);
  height: 30px;
}

.listaProductos th, td{
  width: 110px;
}

.listaProductos button{
  margin-top: 14px;
  margin-bottom: 5px;
  width: 300px;
  height: 30px;
} */

