.boxClientes {
    height: 98%;
    width: 98%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/* barra de navegacion*/
.navClientes {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.navClientes button{
    height: 100%;
    width:  49.5%;
    border-radius: 10px;
}

.moduleClientes {
    height: 86%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--container);
}

.clientesCreate {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    border-radius: 10px;
}

.clientesRead {
    height: 100%;
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: none;
    border-radius: 10px;
}

.mensajeCorreo{
    font-size: 12px;
    padding-left: 10px;
    display: none;
    color: #dc3545
}