@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transparente: rgba(6, 7, 6, 0);
    --header: #494f56;
    --aside: #494f56bc;
    --text: #f8f8f8;
    --iconos: #dcdbdb;
    --borde: #9b9898ec;
    --alto-600: #828080;
    --boton: #6c6969;
    --options: #797474a1;
    --container: #4f4d4db9;
}

body {
    background-image: url(../picture/fondo.webp);
    background-position: center;
    background-repeat:repeat-y;
    background-size: cover;
    height: auto;
    position: sticky;
    font-family: 'Fira Sans', sans-serif;
    color: var(--iconos);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 8vh;
    background-color: var(--header);
    color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0 0;
    position: relative;
}

header a {
    cursor: pointer;
    text-decoration: none;
}

.bx-exit {
    margin-top: 10%;
    color: var(--iconos);
    cursor: pointer;
}
#containerBtnExit{
    width: auto;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bx-exit:hover {
    font-size: 1.8rem;
}

button {
    background-color: var(--boton);
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--header);
    outline: none;
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

button a:active {
    color: var(--text);
}

button:hover {
    background-color: var(--container);
    font-size: 22px;
    transition: 0.5s;
    box-shadow: 0 0px 1px 0 var(--borde);
}

section,
button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
}

.tipoUsuario {
    color: var(--text);
    position: absolute;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    right: 20px;
    top: 25%;
    transform: translate(-50%);
}

.caja{
    font-size: 2.1rem;
}