.boxProduct{
    height: 98%;
    width: 98%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.navProduct{
    height: 8%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--container);
    display: flex;
}

.moduleProduct{
    height: 86%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--container);
}

.productCreate{
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
    border-radius: 10px;
}

.productRead{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: none;
    border-radius: 10px;
}