*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .containerProveedores{
    justify-content: space-between;
    box-shadow: 0 0 1px 5px rgba(93, 58, 58, 0.9);
    width: 1000px;
    height: 418px;
    align-items: center;
    border-radius: 20px;
    padding: 2%;
    font-family: cursive;
  }


.boxProveedores{
    height: 98%;
    width: 98%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.navProveedores{
    width: 100%;
    border-radius: 10px;
    background-color: var(--container);
    display: flex;
}

.moduleProveedores{
    height: 86%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--container);
}

.ProveedoresCreate{
    height: 100%;
    width: 100%;
    background-color: rgb(188, 172, 172);
    display: none;
    border-radius: 10px;
}

.ProveedoresRead{
    height: 20%;
    width: 100%;
    background-color: blue;
    display: none;
    border-radius: 10px;
}



.containerProveedores label {
    display: flexbox;
    width: 50%;
    padding: auto;
    justify-content: space-between;
    margin-left: auto;
}