#padreRegistro{
    display: flex;
    justify-content: space-between;
}
.contenedorRegistro{
    background-color: rgb(224, 219, 219);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.cabezaregis{
    display: flex;
    justify-content: space-between;
}
.contenedorProductosregistro{
    display: flex;
    justify-content: center;
    flex-direction: column;
}