.boxUsers{
    height: 98%;
    width: 98%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.navUser{
    height: 8%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--container);
    display: flex;
}

.moduleUser{
    height: 86%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--container);
}

.userCreate{
    height: 100%;
    width: 100%;
    background-color: white;
    display: none;
    border-radius: 10px;
}

.userRead{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: none;
    border-radius: 10px;
}

.containerUsers{
    height: 100%;
    width: 100%;
}

.containerUsers form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}